Repository kiforks/frontsoulend, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, devops, docker, frontend, qa, workflow, docs, root

.github/labeler.yml:

backend:
  - 'backend/**/*'

devops:
  - 'devops/**/*'

docker:
  - 'docker-compose.*.yml'
  - 'devops/docker/**/*'

frontend:
  - 'frontend/**/*'

qa:
  - 'qa/**/*'

workflow:
  - '.github/**/*'

docs:
  - '**/*.md'

root:
  - '*'

ci [DEV-1]: Update workflow
  .github/workflows/ci.yml
Labels: workflow

ci [DEV-1]: Update workflow
  .github/workflows/ci.yml
Labels: workflow

ci [DEV-1]: Update workflow
  .github/workflows/ci.yml
Labels: workflow

ci [DEV-1]: Update workflow
  .github/workflows/ci.yml
  apps/frontend/frontsoulend/src/app/app.component.spec.ts
  apps/frontend/frontsoulend/src/styles.scss
  package.json
Labels: workflow, root

ci [DEV-1]: Update workflow
  .github/workflows/ci.yml
Labels: workflow

ci [DEV-1]: Update workflow
  CHANGELOG.md
Labels: docs, root

ci [DEV-1]: Update workflow
  .github/workflows/ci.yml
Labels: workflow

ci [DEV-1]: Update workflow
  CHANGELOG.md
Labels: docs, root

ci [DEV-1]: Update workflow
  CHANGELOG.md
Labels: docs, root
