Repository kiforks/frontsoulend, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, devops, docker, frontend, qa, workflow, docs, root

.github/labeler.yml:

backend:
  - changed-files:
      - any-glob-to-any-file: 'apps/backend/**/*'

devops:
  - changed-files:
      - any-glob-to-any-file: 'devops/**/*'

docker:
  - changed-files:
      - any-glob-to-any-file: 'docker-compose.*.yml'
      - any-glob-to-any-file: 'devops/docker/**/*'

frontend:
  - changed-files:
      - any-glob-to-any-file: 'apps/frontend/**/*'

qa:
  - changed-files:
      - any-glob-to-any-file: 'apps/qa/**/*'

workflow:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

docs:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

root:
  - changed-files:
      - any-glob-to-any-file: '*'

ci [DEV-1]: Update workflow
  apps/qa/frontsoulend-e2e/playwright.config.ts
Labels: qa

ci [DEV-1]: Update workflow
  apps/qa/frontsoulend-e2e/playwright.config.ts
Labels: qa

ci [DEV-1]: Update workflow
  .github/workflows/ci.yml
Labels: workflow

ci [DEV-1]: Update workflow
  .github/workflows/ci.yml
Labels: workflow

ci [DEV-1]: Update workflow
  .eslintrc.base.json
  apps/frontend/frontsoulend/.eslintrc.json
  apps/qa/frontsoulend-e2e/.eslintrc.json
Labels: frontend, qa, root

ci [DEV-1]: Update workflow
  apps/frontend/angular/.eslintrc.json
  apps/frontend/angular/frontsoulend/jest.config.ts
  apps/frontend/angular/frontsoulend/project.json
  apps/frontend/angular/frontsoulend/public/favicon.ico
  apps/frontend/angular/frontsoulend/src/app.config.ts
  apps/frontend/angular/frontsoulend/src/app.routes.ts
  apps/frontend/angular/frontsoulend/src/app/components/app/app.component.html
  apps/frontend/angular/frontsoulend/src/app/components/app/app.component.spec.ts
  apps/frontend/angular/frontsoulend/src/app/components/app/app.component.ts
  apps/frontend/angular/frontsoulend/src/index.html
  apps/frontend/angular/frontsoulend/src/main.ts
  apps/frontend/angular/frontsoulend/src/styles.scss
  apps/frontend/angular/frontsoulend/src/test-setup.ts
  apps/frontend/angular/frontsoulend/tsconfig.app.json
  apps/frontend/angular/frontsoulend/tsconfig.spec.json
  apps/frontend/angular/jest.config.ts
  apps/frontend/angular/tsconfig.json
Labels: frontend

ci [DEV-1]: Update workflow
  apps/frontend/angular/frontsoulend/jest.config.ts
  apps/frontend/angular/frontsoulend/project.json
Labels: frontend

ci [DEV-1]: Update workflow
  apps/frontend/angular/frontsoulend/jest.config.ts
  apps/frontend/angular/jest.config.ts
Labels: frontend
